---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="Save the cats and dogs."
  assignment="Freshmen project"
>
<a href="https://github.com/IACS-CS/apcsp-24-25-binary-search-game-binary-search-game">
Source Code
</a>
  <p>Made this project, with the help of James, a sophomore</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://savingman.netlify.app/" 
    title="Save the cats and dogs"
    width="100%"
    height="800px"
  ></iframe>

</Project>

